:host {
	--slds-c-card-color-background:  rgba(255, 60, 0, 0.918);
}
.poke-card {
	
	border: 1px solid #000000;
	border-radius: .25rem;
	background-color: rgb(211, 60, 0);
	box-shadow:5px 5px 5px grey;
}
.poke-button {
	background-color:rgb(31, 31, 31);
	border: 6px solid rgb(172, 172, 172);
	border-radius: .50rem;
}